body, div, span, strong, button, ul, li, i, p {
  margin: 0;
  padding: 0;
}

ul, ul li {
  list-style: none;
}

button {
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

#container {
  width: 678px;
  margin: 40px auto 62px;
  display: block;
}

.ReviewWritingPage_row {
  display: flex;
  margin-bottom: 20px;
}

.restaurant_name {
  display: block;
  max-width: 400px;
  font-size: 28px;
  line-height: 1.462;
  color: #ff7100;
  word-break: break-all;
  font-weight: normal;
}

.subMessageWrap {
  position: relative;
  margin-left: 4px;
}

.subMessage {
  font-size: 16px;
  width: 270px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  line-height: 1.45;
  color: #7f7f7f;
}

.ReviewWritingPage_contentWrap {
  display: flex;
  flex-direction: row;
}

.ReviewWritingPage_formWrap {
  display: flex;
  flex-direction: column;
}

.ReviewWritingPage_editorWrap {
  width: 678px;
  margin-bottom: 22px;
}

.ReviewEditor {
  position: relative;
}

.ReviewEditor_writeWrap {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 16px;
}

.ReviewWritingPage_recommendWrap {
  margin-bottom: 20px;
}

.ReviewWritingPage_recommend_List {
  display: flex;
  flex-direction: row;
}

.ReviewWritingPage_recommend_Item {
  margin-right: 24px;
}

.ReviewWritingPage_recommend_Item:last-child {
  margin-right: 0;
}

.recommendButton {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #cbcbcb;
}

.recommendButton_Image {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  background-size: cover;
}

.recommendButton_Image_Recommend {
  background-image: url(/assets/emoji-laughing.svg);
}

.recommendButton_Image_Ok {
  background-image: url(/assets/emoji-smile.svg);
}

.recommendButton_Image_NotRecommend {
  background-image: url(/assets/emoji-expressionless.svg);
}

.recommendButton_Lable {
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.ReviewEditor_write {
  display: block;
  width: 100%;
  height: 150px;
  border: 0;
  font-size: 16px;
  color: #000;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

.ReviewEditor_write:placeholder-shown {
  color: #cbcbcb;
}

.ReviewEditor_write::placeholder {
  color: #cbcbcb;
}

.ReviewEditor_TextLengthStateBox {
position: absolute;
bottom: -4px;
right: 0;
font-size: 12px;
line-height: normal;
color: #7f7f7f;
transform: translateY(100%);
}

.ReviewWritingPage_pictureWrap {
  position: relative;
  width: 687px;
  margin-bottom: 41px;
}

.ReviewPictureCounter {
  display: block;
  top: 93px;
  left: 89px;
  transform: translateX(-100%);
  transition: 0.3 ease;
  position: absolute;
  width: 89px;
  font-size: 12px;
  text-align: right;
  color: #7f7f7f;
}

.ReviewPictureContainer {
  position: relative;
}

.ReviewPictureContainer_pictureList {
  display: flex;
  flex-wrap: wrap;
  height: 98px;
}

.ReviewPictureContainer_pictureItem {
  position: absolute;
  margin-right: 9px;
  margin-bottom: 9px;
  left: 0;
  top: 0;
  transform: translateX(0px) translateY(0px);
  display: block;
  touch-action: none;
  user-select: none;
}

.ReviewPictureContainer_AddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 89px;
  line-height: 89px;
  text-align: center;
  border: 1px dashed #dbdbdb;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

.ReviewPictureContainer_AddIcon {
  width: 27px;
  height: 27px;
  background-image: url(/assets/plus-lg.svg);
  background-size: cover;
}

.ReviewPictureContainer_PreviewImage {
  position: relative;
  width: 89px;
  height: 89px;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

.picture_Layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.picture_removeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
}

.picture_removeIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 29px;
  height: 29px;
  background-image: url(/assets/x.svg);
  background-size: cover;
}

.picture_extendButton {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
}

.picture_extendIcon {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-image: url(/assets/aspect-ratio.svg);
  background-size: cover;
}

.ReviewPictureContainer_PreviewImage:hover .picture_Layer {
  display: block;
}

.ReviewWritingPage_ButtonsWrap {
  display: flex;
  flex-direction: row;
  width: 678px;
}

.ReviewWritingPage_Buttons {
  display: flex;
  justify-content: flex-end;
  width: 678px;
}

.ReviewWritingPage_CancelButton {
  width: 140px;
  height: 50px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #7f7f7f;
  border-radius: 50px;
  font-size: 16px;
  color: #7f7f7f;
  text-align: center;
  background-color: #fff;
}

.ReviewWritingPage_SubmitButton {
  width: 140px;
  height: 50px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #ff7100;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #ff7100;
}